<div align="center" class="AddRugBox" [hidden]="rugService.showAddRugBox">
    <h4>Add New Rug</h4>
    <form (ngSubmit)="AddRug(rug);rugForm.reset()" #rugForm="ngForm">
        <div class="form-group">
            <label for="rugText">Rug:</label>
            <input type="text" [(ngModel)]="rug.rugText" #rugtext="ngModel" class="form-control" name="rugText" id="rugText" required
            />
            <div [hidden]="rugtext.valid || rugtext.pristine" class="alert alert-danger">
                Rug is required
            </div>
        </div>
        <div class="form-group">
            <label for="rugDesc">Description:</label>
            <textarea class="form-control" [(ngModel)]="rug.rugDesc" #rugdesc="ngModel" name="rugDesc" id="rugDesc" required></textarea>
            <div [hidden]="rugdesc.valid || rugdesc.pristine" class="alert alert-danger">
                Description is required
            </div>
        </div>
        <button type="submit" [disabled]="!rugForm.form.valid" class="btn btn-success btn-block">Submit</button>
    </form>
</div>
<div class="container">
    <div class="starter-template">
        <h1>Home Page</h1>
        <img src="../assets/turco.jpg" alt="Turco Persian" width="460" height="345">
        <hr>
        <h2>Latest Rugs</h2>
        <div class="latestRugs">
            <div class="row">
                <!-- Boxes  -->
                <div *ngFor="let rug of rugs" class="col-xs-12 col-sm-6 col-lg-4">
                    <div class="box">
                        <div class="icon">
                            <div class="image">
                                <i class="fa fa-tasks"></i>
                            </div>
                            <div class="info">
                                <h3 class="title">{{rug.rugText}}</h3>
                                <div class="more">
                                    <a [routerLink]="['/rug', rug._id]" title="Click to Open {{rug.rugText}}">
                                        Read More
                                        <i class="fa fa-angle-double-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="space"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>